.app {
    max-width: 860px;
    margin: 0px auto;
}
button {
    background: none;
    border: 2px solid white;
    padding: 6px 12px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}
button:hover {
    background-color:hsl(287, 100%, 27%);
}
.card-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-gap: 20px;
}








